img.icons{
    height: 20px;
    width: auto;
    cursor: pointer;
}

#tool-bar{
    padding: 9px;
    background-color: rgba(232,232,232,1);
}
.error{
    background-color: #ffd2af!important;
}

.qty{
    cursor: pointer;
}