
#authorize-block{
    width: 100%;
}

#autorize-form{
    width: 300px;
    margin: auto auto 0 auto;
}
td{
    text-align: center;
}
.authorize-block.title{
    font-weight: 700;
}
.authorize-block {
    border-style: solid;
    border-color: rgba(177, 177, 177, .7);
    border-width: 1px;
}
.authorize-block td{
    border-left-style: solid;
    border-left-color: rgba(177, 177, 177, .7);
    border-left-width: 1px;
    padding: 4px;
}
.errorField{
    border-color: red;
}
#delovod_storage{
    width: 100%!important;
    height: 30px;
}
#delovod_version{
    width: 100%;
    height: 30px;
}
.css-13ttuaq{
    -moz-box-align: center;
    align-items: center;
    border: 0px none;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: flex;
    font-size: inherit;
    -moz-box-pack: center;
    justify-content: center;
    line-height: 1;
    outline: currentcolor none medium;
    padding: 0px;
    position: relative;
    height: 40px;
    width: 40px;
    background-color: rgb(7, 71, 166);
}
#storage-list{
    display: table;
}

#storage-list .storage-row:first-child{
    border-top-style: none;
}

.storage-row {
    border-top-style: solid;
    border-top-color: rgba(177, 177, 177, .7);
    border-top-width: 1px;
}

.storage-row div:first-child{
    width: 90%;
}

.storage-row div{
    display: inline-block!important;
    text-align: left;
    font-size: 9pt;
}