img.icons{
    height: 20px;
    width: auto;
    cursor: pointer;
}

#tool-bar{
    padding: 9px;
    background-color: rgba(232,232,232,1);
}
.error{
    background-color: #ffd2af!important;
}

.qty{
    cursor: pointer;
}
#wait{
    z-index: 10;
    position: absolute;
    margin: 100px 50% 50% 50%;
    height: 100px;
    width: auto;
}
#header{
    width: 100%;
    margin-top: 5px;
}
#tool-bar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}